body {
	background-image: url("/static/img/body.jpg");
	background-repeat: no-repeat;
	overflow-x: hidden;
	background-color: olive;
}

.row#home {
	text-align: center;
}
.row #home {
	text-align: center;
}

.jumbotron h2{
	font-family: 'Molle', cursive;
	font-style: italic;
}

.jumbotron {
	background-color:aqua;
	background-image: url("static/img/jumbo.jpg");
	background-repeat: no-repeat;
}

h2 {
	color: maroon;
	font-family: 'Molle', cursive;
	text-align: center;
}

.row h3 {
	color: red;
	font-family: 'Oleo Script', cursive;
	text-align: center;
}

#success {
	text-align: center;
}

p {
	font-family: 'Philosopher', sans-serif;
}

.well {
	background-color:orange;
	margin-top: 23%;
	margin-bottom: 0%;
	padding-top: 10px;
}

.foot p {
	font-family: 'Prociono', serif;
	color: navy;
	font-style: normal;
}

.list td {
	font-family: 'Prociono', serif;
	text-align: center;
}

.list th {
	font-family: 'Oleo Script', cursive;
	text-align: center;
}

.btn-info {
	text-align: center;
}

.row a, button {
	text-align: center;
}